@{
    ViewData["Title"] = "Login";
}
<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="#">🏠 Dashboard Home</a>
    </li>

   
</ul>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}